@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'highlight.js/styles/vs2015.css';

// md
@import "@/styles/_md.scss";

.c_searchBox {
  background-image: url('/icons/down.svg');
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}
